<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="eu.endare.phonegap.WPPush"
    version="1.0.0">
    <name>Urban Airship Push Notification Plugin for Windows Phone</name>
    <description>Urban Airship Push Windows Phone Notification Plugin for PhoneGap/Cordova</description>
    <license>Apache 2.0</license>

    <js-module src="www/WPPush.js" name="WPPush">
         <clobbers target="WPPush" />
    </js-module>

    <!-- Windows Phone 8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="WPPush">
                <param name="wp-package" value="PushNotificationPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/PushNotificationPlugin.cs" />
    </platform>
</plugin>